* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	background-color: #fff;
}

body {
	width: 100%;
	min-width: 1080px;
}

header {
	
}

.hero {
	height: 800px;
	width: 100%;
	background-image: url(./images/background.jpg)
}

.hero-text-wrapper {
	padding-top: 200px;
	text-align: center;
}

.hero-title {
	color: #fff;
	width: 100%;
	font-family: Lato;
	font-weight: 300;
	font-size: 160px;
	letter-spacing: 10px;	
}

.hero-text {
	color: #fff;
	font-family: Lato;
	font-size: 60px;
	font-weight: 200;
	line-height: 80px;
	letter-spacing: 7px;
}

.navbar {
	clear: both;
}

.logo {
	margin: 30px 0;
	width: 110px;
}

.navbar-list {
	margin: 33px 50px;
	float: right;
}

.nav-list-item {
	margin-left: 30px;
	font-size: 20.23px;
	font-family: Helvetica;
	letter-spacing: 1.5px;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

a {
	text-decoration: none;	
	color: #000;
	font-family: Helvetica;
}

a:hover {
	text-decoration: underline;
	color: #9d9693;
}


.contents {
	margin: 0 auto;
}

.site-width-container {
	width: 1110px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
	clear: both;
	min-width: 1080px;
}

.content1 {
	position: relative;
	background-image: url(./images/background2.jpg);
}

.content1-inner {
	font-size: 0;
	letter-spacing: 0;
}

.content1-inner-item {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.content1-inner-item content1-text-wrapper {
	padding-right: 20px;
}


.content1 .title {
	font-family: Lato;
	color: #fff;
	font-size: 40px;
	line-height: 60px;
	letter-spacing: 3.5px;
}

.content1 .text {
	font-family: Helvetica;
	color: #fff;
	font-size: 20px;
	letter-spacing: 2.5px;
	color: #fff;
	line-height: 30px;
	padding-top: 70px;
}

.phone-image {
	width: 500px;
	height: 735px;	
	top: 33px;
	left: 900px;
}

.content2 {
	background-color: #f6f6f6;
	width: 100%;
}

.content2 .title {
	font-family: Helvetica;
	font-size: 30px;
	font-weight: 700;
	line-height: 46px;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 13px;
}

.language-image {

}

.content2-list-wrapper {
	padding-top: 175px;
	text-align: center;
}

.content2-list-item {

}

.content2-list-item:nth-child(2) {
	padding: 0 128px;
	
}

.content2 .text {
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	letter-spacing: 2.5px;
}

.content3 {
	margin-bottom: 75px;
	clear: both;
}

.content3 .title {
	font-family: Lato;
	font-size: 60px;
	font-weight: 600;
	line-height: 80px;
	text-align: center;
	margin-top: 62px;
	letter-spacing: 5.5px;
}

.graph-image {
	margin-top: 45px;
	float: left;
}

.content3-text-wrpper {
	float: right;
	margin-top: 115px;
}

.content3 h3 {
	font-family: Helvetica;
	font-size: 30px;
	font-weight: 700;
	line-height: 46px;
	text-align: right;
	letter-spacing: 3px;
}

.content3 p {
	font-family: Helvetica;
	font-size: 20px;
	line-height: 30px;
	text-align: right;
	margin-top: 40px;
	letter-spacing: 2.5px;
}

.content4 {
	background-color: #f6f6f6;
	margin: auto;
	}

.content4 h1 {
	text-align: center;
	font-family: Lato;
	font-size: 60px;
	font-weight: 600;
	line-height: 80px;
	padding-top: 60px;
	letter-spacing: 3px;
}

.content4-list-wrapper {
	margin-top: 30px;
	padding-bottom: 74px;
}

.content4-list-item {
	margin-bottom: 4px;
	clear: both;
}

.content4 .time {
	font-family: 'Kozuka Gothic Pr6N';
	font-size: 18px;
	letter-spacing: 1.4px;
	line-height: 46px;
	text-align: left;
	font-weight: 500;
}

.content4 .title {
	font-family: Helvetica;
	font-weight: 700;
	line-height: 32px;
	font-size: 30px;
	text-align: left;
	letter-spacing: 3px;
	float: left;
}

.content4 .text {
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 300;
	line-height: 35px;
	text-align: left;
	display: inline;
	margin-left: 37px;
	letter-spacing: 2.4px;
}

.content4 a:hover {
	text-decoration: underline;
	color: #000;
}

.content4 hr {
	background-color: #cccccc;
	width: 1080px;
	height: 2px;
	margin-top: 12px;
}

.content5 {
	margin: 70px 0;
	text-align: center;
}

.companies {
	margin-right: 44px;
}

.content6 {
	background-color: #f6f6f6;
	padding-top: 80px;
	padding-bottom: 120px;
	overflow: hidden;
}

input[type="text"] {
	border-style: solid;
	border-width: 2px;
	border-color:  #cccccc;
	box-sizing: border-box;
	background-color:  #ffffff;
	width: 470px;
	height: 60px;
	margin-bottom: 30px;
	padding-left: 20px;
	font-family: Helvetica;
	color:  #dddddd;
	font-size: 20px;
	text-align: left;
	letter-spacing: 2px;
}

select {
	border-style: solid;
	border-width: 2px;
	border-color:  #cccccc;
	box-sizing: border-box;
	border-radius: 0;
	-webkit-appearance: button;
	background-color:  #ffffff;
	width: 470px;
	height: 60px;
	font-family: Helvetica;
	color:  #333333;
	font-size: 20px;
	text-align: left;
	letter-spacing: 2px;
	padding-left: 20px;
}

textarea {
	border-style: solid;
	border-width: 2px;
	border-color:  #cccccc;
	box-sizing: border-box;
	background-color:  #ffffff;
	width: 510px;
	height: 150px;
	font-family: Helvetica;
	color:  #dddddd;
	font-size: 20px;
	text-align: left;
	padding-left: 20px;
	padding-top: 15px;
	letter-spacing: 2px;
}

.input-wrapper {
	clear: right;
	display: inline;
	float: left;
}

.textarea-button-wrapper {
	float: right;
}

input[type="submit"] {
	background-color:  #333333;
	box-shadow: 3px 5px 0px 0px rgba(51, 51, 51, 0.25);
	width: 510px;
	height: 60px;
	margin-top: 22px;
	padding-top: 5px;
	padding-left: 7px;
	font-family: Helvetica;
	color:  #ffffff;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 2px;
}

footer {
	background-color: #333333;
	clear: both;
	height: 70px;
	padding-top: 15px;	
}

footer p {
	color: #fff;
	float: left;
	font-family: Helvetica;
	font-size: 14px;
	margin-top: 10px;	
}

.sns-wrapper {
	display: inline;
	float: right;
	padding-top: 10px;
}

.sns-icon {
	margin: -4px 9px;
}